@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div>
    <div class="k-toolbar k-grid-toolbar">
        <a class="k-button" title="Thêm sản phẩm" id="addProduct"><span class="k-icon k-i-plus"></span></a>
                <a class="k-button" style="display:none" id="editProduct"><span class="k-icon k-i-pencil"></span></a>
                <a class="k-button" style="display:none" id="delete"><span class="k-icon k-i-close"></span></a>
    </div>
    <div id="grid">
        </div>
        <div id="window">
        </div>
        
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var proID="";
        var resDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("ReadDataToGrid")',
                    type: "post",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                },
                parameterMap: function (options, type) {
                    if (type == "read") {
                        return JSON.stringify({
                            page: options.page,
                            itemCount: 10000
                        })
                    }
                }
            },
            pageSize: 10000,
            serverPaging: true,
            schema: {
                data: "Data",
                total: "ItemCount",
                model: {
                    id: "ProductID",
                    fields: {
                        Avatar: { type: "string" },
                        ProductName: { type: "string" },
                        Description: { type: "string" },
                        Unit: { type: "string" },
                        ShortcutKey: { type: "string" },
                        Price: { type: "string" },
                        OrderID: { type: "string" }
                    }
                }
            }
        })
       $("#grid").kendoGrid({
            dataSource: resDataSource,
            groupable: true,
            columnMenu: true,
            resizable: true,
            sortable: true,
            selectable: "single",
            pageable: true,
            height: 768,
            columns: [
                         { field: "ProductID", title: "ID", hidden: true },
                         { field:"ProductName",title: "Tên sản phẩm"},
                         { field:"Price",title:"Giá"},
                         { field:"Unit",title:"Đơn vị tính"},
                         { field:"Description",title:"Mô tả"},
                         { field:"ShortcutKey",title:"Phím tắt"},
                         { field:"OrderID", title: "Thứ tự" }
                    ],
            change: function (e) {
                proID = this.select().find('td:first').html();
                $("#editProduct").show();
                $("#delete").show();
            }
        });
        //window
       var window = $("#window");
       var addProduct = $("#addProduct").bind("click", function () {
            window.kendoWindow({
                width: "350px",
                title: "Sản phẩm",
                content: "/Product/Create",
                close: onClose
            });
            window.data("kendoWindow").open();
            window.data("kendoWindow").center();
            addProduct.hide();
        });

        var onClose = function () {
            addProduct.show();
        }
         $(document).keyup(function (e) {
            if (e.keyCode == 27) { window.data("kendoWindow").close(); }
        });
         var editProduct = $("#editProduct").bind("click", function () {
            window.kendoWindow({
                width: "350px",
                title: "Sản phẩm",
                content: "/Product/Edit?proID="+proID,
                close: onCloseEdit
            });
            window.data("kendoWindow").open();
            window.data("kendoWindow").center();
            editProduct.hide();
        });
        var onCloseEdit = function () {
            editProduct.show();
        }
        //end of window
        //delete
        $("#delete").click(function () {
            if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                    $.ajax({
                        url: '@Url.Action("Hide","Product")',
                        data: { 'proID': +proID },
                        success: function () {
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    })
                    proID = "";
                    $("#edit").hide();
                    $("#delete").hide();
                }
        })
        //end of delete

    })
</script>
