
    <div id="form_validate">
        <table>
            <tr>
                <td colspan="2">
                    <input type="text" name="ProductName" id="ProductName" class="k-textbox" placeholder="Tên sản phẩm"
                        required validationmessage="Vui lòng điền tên sản phẩm" maxlength="200" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" name="Price" id="Price" placeholder="Giá" type="number" min="0"
                        required validationmessage="Vui lòng điền giá" />
                </td>
            </tr>
            <tr>
                <td>
                    <select id="Unit">
                        <option value="Kg">Kg</option>
                        <option value="Gói">Gói</option>
                        <option value="Cái">Cái</option>
                        <option value="Ly">Ly</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="ShortcutKey" id="ShortcutKey" class="k-textbox" placeholder="Phím tắt"
                        maxlength="1" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="Avatar" name="Avatar" />
                    <input name="selectAvatar" id="selectAvatar" type="file" />
                    <img src="" id="avatarPreview" width="90px" height="90px" />
                </td>
                <td>
                    <textarea name="Description" id="Description" class="k-textbox" placeholder="Mô tả"
                        maxlength="500" />
                </td>
            </tr>
        </table>
        <p>
            <a class="k-button" type="button" id="submit">Hoàn thành</a>
        </p>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        $("select").kendoDropDownList();
        $("#Price").kendoNumericTextBox({
            format: "c",
            decimals: 3
        });
        var validator = $("#form_validate").kendoValidator().data("kendoValidator");
        $("#submit").click(function () {
            if (validator.validate()) {
                var ProductName = $("#ProductName").val();
                var Avatar = $("#Avatar").val();
                var Description = $("#Description").val();
                var Price = $("#Price").val();
                var Unit = $("#Unit").val();
                var ShortcutKey = $("#ShortcutKey").val();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("Create", "Product")',
                    data: { 'ProductName': ProductName, 'Avatar': Avatar, 'Description': Description, 'Price': Price, 'Unit': Unit, 'ShortcutKey': ShortcutKey },
                    success: function () {
                        $("#window").data("kendoWindow").close();
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                })

            } else {

            }
        });
        //upload Avatar
        function onSelectImage(e) {
            var files = e.files;
            // Check the extension of each file and abort the upload if it is not .jpg,. png, . gif
            $.each(files, function () {
                if (this.extension != ".jpg" && this.extension != ".png" && this.extension != ".gif") {
                    alert("File incorrect, only submit .jpg,.png,.gif")
                    e.preventDefault();
                } else {

                }
            });
        };
        function SuccessAvatar(e) {
            var files = e.files;
            $("#Avatar").val(files[0].name);
            $("#avatarPreview").attr('src', '/Images/Product/' + files[0].name);
        };
        $("#selectAvatar").kendoUpload({
            localization: {
                "select": "SelectAvatar"
            },
            async: {
                saveUrl: '@Url.Action("UploadImage", "Product")',
                removeUrl: '@Url.Action("RemoveImage", "Product")',
                autoUpload: true
            },
            multiple: false,
            showFileList: false,
            select: onSelectImage,
            success: SuccessAvatar
        });
    })
</script>
