
    <div id="form_validate">
        <table>
            <tr>
                <td>
                    <input type="text" name="EmployeeName" id="EmployeeName" class="k-textbox" placeholder="Tên nhân viên"
                        required validationmessage="Vui lòng điền tên nhân viên" maxlength="200" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="Avatar" name="Avatar" />
                    <input name="selectAvatar" id="selectAvatar" type="file" />
                    <img src="" id="avatarPreview" width="90px" height="90px" />
                </td>
            </tr>
        </table>
        <p>
            <a class="k-button" type="button" id="submit">Hoàn thành</a>
        </p>
    </div>

<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#form_validate").kendoValidator().data("kendoValidator");
        $("#submit").click(function () {
            if (validator.validate()) {
                var EmployeeName = $("#EmployeeName").val();
                var Avartar = $("#Avatar").val();
                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("CreateEmployee", "Employee")',
                    data: { 'EmployeeName': EmployeeName, 'Avartar': Avartar },
                    success: function () {
                        $("#window").data("kendoWindow").close();
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                })

            } else {

            }
        });
        //upload Avatar
        function onSelectImage(e) {
            var files = e.files;
            // Check the extension of each file and abort the upload if it is not .jpg,. png, . gif
            $.each(files, function () {
                if (this.extension != ".jpg" && this.extension != ".png" && this.extension != ".gif") {
                    alert("File incorrect, only submit .jpg,.png,.gif")
                    e.preventDefault();
                } else {

                }
            });
        };
        function SuccessAvatar(e) {
            var files = e.files;
            $("#Avatar").val(files[0].name);
            $("#avatarPreview").attr('src', '/Images/Employee/' + files[0].name);
        };
        $("#selectAvatar").kendoUpload({
            localization: {
                "select": "SelectAvatar"
            },
            async: {
                saveUrl: '@Url.Action("UploadImage", "Product")',
                removeUrl: '@Url.Action("RemoveImage", "Product")',
                autoUpload: true
            },
            multiple: false,
            showFileList: false,
            select: onSelectImage,
            success: SuccessAvatar
        });
    })
</script>
<style type="text/css">
.materiQuantity
{
    max-width: 50px;
}
</style>